<p><%= t('.greeting', :recipient => @resource.email, :default => "欢迎, #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "你可以通过下面的链接验证你的账户邮箱:") %></p>

<p><%= link_to t('.action', :default => "验证我的账户"),
         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
