<!DOCTYPE html>
<html>
<head>
  <title>Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  .mybox{
    margin: 0px auto;
    width: 300px;
  }
  .bigbox{
    margin: 0px auto;
    width: 800px;
  }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
